@font-face {
    font-family: ComfortaaR;
    src: url(../fonts/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: RobotoMB;
    src: url(../fonts/RobotoMono-Bold.ttf);
}
@font-face {
    font-family: RubicEB;
    src: url(../fonts/Rubik-ExtraBold.ttf);
}