.products {
    height: 90%;
    background-color: #0c8766;
}
.products-header {
    padding-top: 5%;
    text-align: center;
    font-size: 56px;
    font-family: RubicEB;
}
.products-container{
    display: flex;
}