.menu {
    flex-grow: 1;
    font-family: ComfortaaR, Arial, Helvetica, sans-serif;
}

.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 16px;
    line-height: 18px;
}

.menu li {
    margin-right: 20px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu a {
    padding: 8px 10px;
    display: block;
    text-transform: uppercase;
    border-radius: 8px;
    text-decoration: none;
    color: #F0F3FF;
    letter-spacing: .18em ;
}

.menu a:hover {
    background-color: #15F5BA;
}